/* Layout for desktop version */

body { background:#F2F2F2 url(../img/body_bg.gif) repeat; }
.row {}
.container { background: url(../img/top_bg.gif) repeat-x }

#header .logo { display:block; border:0; }
#header p {text-align:right; margin: 15px;}
#header p a { margin:10px; }

#nav {}
#nav ul { list-style:none; margin-bottom:0; }
#nav li { float:left; margin-right: 1em; }
#nav a { color:#eee; border:none; font-weight:normal; text-decoration:none; }

#content .breadcrumbs { margin-bottom: 10px; overflow: hidden; }
#content .breadcrumbs ul { list-style:none; margin:0; font-size:.9em; }
#content .breadcrumbs li { float:left; margin-right:.5em; }
#content .breadcrumbs li:before { content:"> "; }
#content .breadcrumbs li:first-child:before { content:""; }
#content .breadcrumbs { font-weight: normal; }

h1, h2, h3 { clear:left; }
.article {}
.article ul, .article ol { margin-left:20px; }

#aside h3 {margin:10px;}
#aside ul {list-style:none; padding:10px;}

.footer-wrapper { background:#003D50; margin-top:30px; }
#footer h3 {margin:20px 0 0;}
#footer ul { padding:10px 0; margin:0; list-style: none; }

/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {

#header .logo { margin:0; }
#nav li { margin:5px 1em; }
.article {border:none;}
#aside {border-top:1px solid #ddd;}
}


/* Provide higher res assets for iPhone 4 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}