/* 	Bazaarvoice Inc. Pullquote Widget
	rev 03052014 */


/* CONTAINER STYLES */

	#BVRRPullquoteHighlightContainer {clear: both; max-width: 1008px; margin: 0 auto;}
	.BVPullquoteWidgetContainer {border-bottom: 1px solid #DBDBDB; padding: 0 0 30px 0;}
		.BVPullquoteWidgetContainer .BVUGCBodyContainer {background: url(../images/backgroundPullquoteDivider.gif) repeat-y center center;}
	.BVRRSingleReview .BVPullquoteWidgetContainer .BVUGCBodyContainer {background: none; text-align: center;}

	/* Loading Graphic */
	.BVContentLoadingContainer {background: url(../images/bvLoading.gif) no-repeat center transparent !important; min-height: 50px;}
	.BVOverlayLoadingContainer {background: rgba(255,255,255,0.9) !important; width: 100%; height: 100%;}
	.BVOverlayLoadingContainer img {display: block; margin: 25px auto 0;}
	.BVOverlayLoadingContainer .BVLoadingText {display: block; margin: 10px auto 0; text-align: center;}

/* GENERAL */

	/* Font Styles */
	.BVUGCContainer {font-family: 'HelveticaNeueLTStd45Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif; font-size: 15px; color: #333; line-height: 1.5em;}
	.BVPullquotePrefix, .BVPullquoteText, .BVPullquoteSuffix {color: #333; font-size: 22px; font-weight: normal; line-height: 26px;}
	.BVUserNicknameText {font-size: 22px; font-weight: normal;}
	.BVUserLocationContainer {font-size: 13px;}

	/* Titles, Labels, Values */
	.BVLabel {}
	.BVValue {font-weight: bold;}



/* RATINGS */

	/* Overall Star Rating */
	.BVOverallRatingContainer {margin-bottom: 20px;}
	.BVOverallRatingContainer .BVRatingStarsContainer {min-width: 100px; height: auto; display: inline-block; vertical-align: middle;}


/* GENERAL UGC STYLES */

	/* UGC Display */
	.BVUGCBodyContainer {}
		.BVUGCContainer {width: 42%; margin: 0 36px; display: inline-block; vertical-align: top;}

	/* Header - Rating, Pullquote */
	.BVUGCHeader {margin: 0;}

		/* Overall Rating */
		.BVUGCHeader .BVOverallRatingContainer {}
			.BVUGCHeader .BVRatingStarsContainer {width: 40%; min-width: 145px; max-width: 145px; display: inline-block; vertical-align: middle;}

		/* Pull Quote */
		.BVPullquotePrefix {display: inline-block; vertical-align: top; float: left;}
		h3.BVPullquoteText {margin: 0;}
		.BVPullquoteText, .BVPullquoteSuffix {display: inline;}
		.BVPullquoteSuffix {margin-left: -4px;}
		.BVRRSingleReview .BVPullquotePrefix {float: none; margin-right: -4px;}
		
	
	/* User Information - Avatar, Nickname, Location, Context Data, Badges */
	.BVUserDataContainer {}
		
		/* Nickname, Location, Context Data */
		.BVUserInfo {display: block; margin-top: 15px;}


/* RESPONSIVE */

	@media (max-width: 985px) {
		.BVUGCContainer {width: 40%;}
	}

	@media (max-width: 801px) {
		.BVUGCContainer {width: 39%;}
	}

	@media (max-width: 733px) {
		.BVUGCContainer {width: 38%;}
	}

	@media (max-width: 678px) {
		.BVUGCContainer {width: 37%;}
	}

	@media (max-width: 631px) {
		.BVPullquoteWidgetContainer .BVUGCBodyContainer {background-image: none;}
		.BVPullquoteWidgetContainer {padding-bottom: 0;}
		.BVUGCContainer {width: auto; margin: 0 36px 36px;}
	}

	@media (max-width: 480px) {
		.BVUGCContainer {margin: 0 16px 30px;}
	}