/*body{font-family: helvetica,verdana; font-size: 12px; margin-top: 30px;}
#container {margin-top: 10px;}*/
#BVLeaderboardHeader {font-size:36px; text-align: left; padding-top: 10px;}
#maincontent .row {padding: 5px; border-bottom: 1px solid #ccc;}
#maincontent .row span {padding: 10px;}
#maincontent .row .name {font-weight: bold;display: inline-block; width: 600px; }
#maincontent .row .link a {color:black; text-decoration: none; font-weight: bold; -webkit-border-top-left-radius: 10px; border: 1px solid black; padding: 5px; display: inline-block;
-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomright: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px; -moz-box-shadow: 2px 2px 2px #888;-webkit-box-shadow: 2px 2px 2px #888;box-shadow: 2px 2px 2px #888;}
#maincontent .row .link a:hover {-moz-box-shadow: 2px 2px 2px #fff;-webkit-box-shadow: 2px 2px 2px #fff;box-shadow: 2px 2px 2px #fff;color: red; margin-top: 2px;margin-left: 2px;}
.BVLeaderBoard {padding: 0 10px 10px; display: inline-block;}

.hide-review {display: none;}
.show-review {display: block; clear: both; margin-left: 55px; background-color: #F7F7F7; padding: 10px 15px;}

/* AUTHOR */
.BVLeaderBoardAuthor .author {display: inline-block; margin: 2px 0; padding: 7px 10px 4px; cursor: pointer; background: #F2F2F2; border-radius: 3px;}
.BVLeaderBoardAuthor .author:hover {background: #F7F7F7;}
.BVLeaderBoardAuthor .author p {margin-bottom: 5px;}
.BVLeaderBoardAuthor {display: inline-block; width: 300px; float: left; padding-left: 10px;}
.BVLeaderBoardAuthor .author strong {display: inline-block; width: 200px; word-wrap: break-word;}

/* REVIEWS */
.BVLeaderBoardReviews {display: inline-block; width: 444px; float: left; cursor: pointer; padding: 5px 10px;}
.BVLeaderBoardReviews .review > img {width: 50px !important; margin-bottom: 0;}
.BVLeaderBoardReviews .productTitle {display: inline-block; font-size: 14px; margin: 8px 0 0 5px;}
.BVLeaderBoardReviews .productTitle:hover {text-decoration: underline;}
.BVLeaderBoardReviews .review {clear: both; margin-bottom: 5px; min-height: 50px; background: url(../img/readmore.png) right 12px no-repeat #ffffff;}
